@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-text {
  animation: blink 3s infinite;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
